{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "chrome": 60 }
      }
    ],
    "@babel/react",
    [
      "@babel/stage-2",
      {
        "loose": true,
        "decoratorsLegacy": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver", {
        "root": [ "./src", "./src/js" ]
      }
    ]
  ]
}
