{
  "presets": [
    [
      "env",
      {
        "targets": { "chrome": 60 }
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver", {
        "root": [ "./src", "./src/js" ]
      }
    ]
  ]
}
