{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "chrome": 60 }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-stage-2",
  ],
  "plugins": [
    "@babel/plugin-proposal-decorators",
    [
      "@babel/plugin-proposal-class-properties",
      { "loose": true }
    ],
    [
      "module-resolver", {
        "root": [ "./src", "./src/js" ]
      }
    ]
  ]
}
