version: 2.1

references:
  pnpm_key: &pnpm_key pnpm-lock.yaml-{{ checksum "pnpm-lock.yaml" }}

  save_cache: &save_cache
    save_cache:
      key: *pnpm_key
      paths:
        - node_modules

  restore_cache: &restore_cache
    restore_cache:
      key: *pnpm_key

  pnpm_setup: &pnpm_setup
    run:
      name: Install pnpm and run `pnpm install`
      command: |
        echo "BASH_ENV: ${BASH_ENV}"
        curl -fsSL https://get.pnpm.io/install.sh | SHELL=`which bash` bash -
        echo 'export PNPM_HOME="/home/circleci/.local/share/pnpm"' >> ${BASH_ENV}
        echo 'export PATH="$PNPM_HOME:$PATH"' >> ${BASH_ENV}
        source ${BASH_ENV}
        pnpm install
        wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        pnpm exec playwright install --with-deps chromium

jobs:
  build-test:
    docker:
      - image: cimg/node:lts-browsers
    steps:
      - checkout
      - *restore_cache
      - *pnpm_setup
      - run: pnpm run test --force
      - run: pnpm run deploy
      - *save_cache
      - run: rm -rf packages/extension/build/build_chrome packages/extension/build/build_firefox
      - store_artifacts:
          path: packages/extension/build
          destination: dist

  publish:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - *restore_cache
      - *pnpm_setup
      - run: pnpm run deploy
      - run: pnpm publish-extension
      - store_artifacts:
          path: packages/extension/build
          destination: dist
      - run: pnpm release-it
      - *save_cache

workflows:
  version: 2
  build:
    jobs:
      - build-test:
          filters:
            tags:
              only: /^v.*/
      - publish:
          requires:
            - build-test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
