html,
body {
  min-height: 600px;
  padding: 0;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  font-size: 14px;
}

#app-container {
  margin: auto;
  max-width: 1440px;
  min-width: 600px;
}

#popup {
  min-width: 800px;
}
