html {
  padding: 8px;
  margin: 0px;
  user-select: none;
}

body {
  padding: 0px;
  margin: 0px;
  -webkit-user-select: none;
  overflow: hidden;
}

#app-container {
  width: 768px;
  height: 1024px;
  overflow: auto;
}
