html,
body {
  width: 800px;
  height: 600px;
  padding: 0;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  font-size: 12px;
}
